__pycache__/
data/
batches/
combined_data/
trained_model.pth/
training.log/
training_validation_loss.png/
validation_accuracy.png/
combined_batches_1/
combined_batches_2/
combined_batches_3/
combined_batches_4/
combined_batches_5/
combined_batches_1-2/
combined_batches_1-3/
combined_batches_1-4/
combined_batches_1-5/
combined_batches_2-3/
combined_batches_2-4/
combined_batches_2-5/
combined_batches_3-4/
combined_batches_3-5/
combined_batches_4-5/
combined_batches_1-2-3/
combined_batches_1-2-4/
combined_batches_1-2-5/
combined_batches_1-3-4/
combined_batches_1-3-5/
combined_batches_2-3-4/
combined_batches_2-3-5/
combined_batches_1-2-3-4/
combined_batches_2-3-4-5/
combined_batches_1-2-3-4-5/
/trained_model.pth
/metrics.json
